body{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stopwatch-section{
    margin-left: 84px;
    margin-top: -600px;
}

.hms{
    font-size: 70px;
    font-family: sans-serif;
}

.HMS {
    font-size: 18px;
    margin-top: -70px;
    margin-left: 22px;
    display: flex;
    justify-content: space-between;
    width: 235px;  
    color: grey; 
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin-top: 80px;
}

.start-btn, .reset-btn{
    width: 115px;
    height: 40px;
    font-size: 17px;
    background-color: white;
}
.start-btn{
    border: solid #22A49B;
    border-radius: 11px;
    color: #22A49B;
}
.reset-btn{
    border: solid black;
    border-radius: 11px; 
}

.reset-btn:hover{
color: red;
border: solid red;
}

.start-btn:hover{
    color: green;
    border: solid green;

}
.gmc{
    margin-top: 70px;
    margin-left: 135px;
}



